<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="ShoppingFeed\Manager\Model\Sales\Order\Shipment\Track\Collector">
        <plugin name="sfm_shipment_track_collector_url_plugin" type="ShoppingFeed\TrackingUrl\Plugin\Order\Shipment\Track\CollectorPlugin" sortOrder="0"/>
    </type>
</config>
